@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ArcadeHall>;

<div class="halls-content">
    <div class="our-halls-content">
        <div class="halls-img"></div>
        <div class="halls-description">
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
        </div>
    </div>
    <div class="card-container">
        @foreach (var halls in Model)
        {
            <div class="card-content">
                <div class="card-img">@halls.ImageUrl</div>
              <div class="card-description">
                <h3>@halls.Name</h3>
                <p>@halls.Genre</p>
              </div>
            </div>
        }
    </div>
</div>
