<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hall_App</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

</head>
<body>
    <div class="wrapper">
        <header class="navbar-header">
            <nav>
                <div class="navbar">
                    <a class="navbar-loggo" asp-controller="Home" asp-action="Arcadehalls">Robbans Arkad</a>
                    <div class="nav-buttons">
                        <ul class="navbar-ul">
                            <li class="nav-item"><a href="#">Event/</a></li>
                            <li class="nav-item"><a href="#">Om oss/</a></li>
                            <li class="nav-item"><a asp-controller="Home" asp-action="Arcadehalls">Hallar/</a></li>
                            <li class="nav-item"><a href="#">Spel/</a></li>
                            <li class="nav-item"><a href="#">Mat & Dricka</a></li>
                            @if (User.Identity?.IsAuthenticated == true)
                            {

                                <li class="nav-item"><a asp-action="Admin">Admin</a></li>
                            }

                        </ul>
                    </div>
                    <div class="right-buttons">
                        <a class="btn-boka" href="#">Boka</a>
                        @if (User.Identity?.IsAuthenticated == true){

                            <form class="logout-form"  asp-action="Logout" method="post">

                                <div class="outer-button-container"><button class="btn-boka" type="submit">Logga ut</button></div>
                            </form>
                        }
                        <div class="menu-container">
                            <label for="menu-toggle" class="menu-button">☰</label>
                            <input type="checkbox" id="menu-toggle">
                            <nav class="menu">
                                <label for="menu-toggle" class="menu-button">✖</label>
                                <a href="#">Event</a>
                                <a href="#">Om oss</a>
                                <a asp-controller="Home" asp-action="Arcadehalls">Hallar</a>
                                <a href="#">Spel</a>
                                <a href="#">Mat & Dricka</a>
                                <a asp-controller="Home" asp-action="Login">Login</a>
                                @if (User.Identity?.IsAuthenticated == true)
                                {

                                    <a asp-controller="Home" asp-action="Admin">Admin</a>
                                }
                            </nav>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="content pb-3">
            @RenderBody()
        </main>


        <footer class="footer">
            <div class="info">&#128205; Pixelvägen 8, 123 45 Spelstaden | &#128222; 123-456 789 | &#128231; <a href="mailto:info@robbansarkad.se">info@robbansarkad.se</a></div>
            <div>Följ oss på <a href="#">Instagram</a>, <a href="#">Facebook</a> & <a href="#">Twitter</a></div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
